<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <p class="copyright">© 2021, Nik - All Rights Reserved</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <nav class="footer-nav">
                    <div class="footer-menu">
                        <ul class="list-inline">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="#">Skills</a>
                            </li>
                            <li>
                                <a href="#">Source Code</a>
                            </li>
                            <li>
                                <a href="#">
                                    Contect Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</footer>