<section class="sec-hero">
    <div class="container">
        <div class="heroContent text-center text-white">
            <p class="header-text">Welcome To <span>Choudhury</span></p>
            <h2>About Me</h2>
            <p class="typing-text">I Am A Full Stack <span id="typewriter" data-text="Developer">Developer</span>
            </p>
            <div class="social-icon">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/nik.xim/" target="_blank" title="Facebook"
                            data-aos="flip-left" data-aos-delay="500" data-aos-offset="0"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/_______crazy__soul_______/" target="_blank" title="Instagram"
                            data-aos="flip-left" data-aos-delay="600" data-aos-offset="0">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank" title="Twitter" data-aos="flip-left" data-aos-delay="700"
                            data-aos-offset="0">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/NikChoudhury" target="_bank" title="Github" data-aos="flip-left"
                            data-aos-delay="800" data-aos-offset="0">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:nikunchoudhury@gmail.com" target="_blank" title="Mail" data-aos="flip-left"
                            data-aos-delay="900" data-aos-offset="0">
                            <i class="far fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>