<header class="nav-header">
    <nav>
        <div class="logo"><a href="/"><img src="images/main-logo2.png" alt="Choudhury" class="img-fluid"></a></div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/" class="active">Home </a>
                </li>
                <li>
                    <a href="/survices">Survices</a>
                </li>
                <li>
                    <a href="/SourceCode">Source Code</a>
                </li>
                <li>
                    <a href="/Contect">Contect Us</a>
                </li>
                <li>
                    <a href="/About">About Us</a>
                </li>
            </ul>
        </div>
        <div class="menu-toggle">
            <a class="burgerBtn">
                <div class="burger"></div>
            </a>
        </div>
    </nav>
</header>