<div class="container">
    <style>
        .navbar-toggler {
            all: initial;
            border: none;
            outline: none;
            width: 5rem;
            height: 5rem;
            /*border: solid 0.2rem #ffffff;*/
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            overflow: hidden;

        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="/"><img src="images/main-logo2.png" alt="Choudhury" class="img-fluid"></a>
        <button class="navbar-toggler burgerBtn" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="burger"></div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active">
                    <a href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="#">Survices</a>
                </li>
                <li class="nav-item">
                    <a href="#">Source Code</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contect Us</a>
                </li>
                <li class="nav-item">
                    <a href="#">About Us</a>
                </li>
            </ul>

        </div>
    </nav>
</div>