@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Alfa+Slab+One&family=Frijole&family=Langar&family=Luckiest+Guy&display=swap");
// font-family: 'ABeeZee', sans-serif;
// font-family: 'Alfa Slab One', cursive;
// font-family: 'Frijole', cursive;
// font-family: 'Langar', cursive;
// font-family: 'Luckiest Guy', cursive;
// Font- Family
$font-one: "Luckiest Guy", cursive;
$font-two: "Langar", cursive;
$font-three: "Frijole", cursive;
$font-four: "Alfa Slab One", cursive;
$font-five: "ABeeZee", sans-serif;
