section.news-letter {
  position: relative;
  background-color: #1bbc9b;
  padding-bottom: 5rem;
  padding-top: 5rem;
  color: #ffffff;
  h3 {
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    font-family: $font-five;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 4rem;
  }
  form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    input.form-control {
      height: 4rem;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      padding: 0.5rem 0.8rem;
      background: #1bbc9b;
      border: #fff 0.2rem solid;
      color: #ffffff !important;
      &::placeholder {
        color: #ffffff;
        font-family: $font-five;
      }
      &:focus {
        background: #1bbc9b;
        color: #ffffff;
      }
    }

    .btn-newsLetter {
      font-family: $font-seven;
      height: 4rem;
      background: transparent;
      border: #fff 0.2rem solid;
      color: #ffffff;
      font-size: 1.8rem;
      padding: 0.3rem 0.8rem;
      letter-spacing: 0.1rem;
      display: block;
      transition: background, color 1s;
      &:hover {
        background: #ffffff;
        color: #1bbc9b;
      }
    }
    @media (max-width: 768px) {
      .btn-newsLetter {
        width: 100%;
      }
    }
  }
}
