@import "mixin";
@import "variable";
@import "fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  font-size: 62.5%;
  font-family: $font-five;
}

// Header-Navbar
@import "nav";

// Header-Navbar
// @import "header";
// Hero Content
@import "hero";

// Scetion Skill
@import "section_skill";

// Scetion Resume
@import "section_resume";

// Scetion My Work
@import "section_mywork";

// Scetion News Letter
@import "section_newsletter";

// Footer
@import "footer";

// Media Screen
@import "media";
