@import "mixin";
@import "variable";
@import "fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  font-size: 62.5%;
  font-family: $font-five;
}

// Header-Navbar
@import "header";

// Hero Content
@import "hero";

// Scetion My Work
@import "section_mywork";

// Media Screen
@import "media";
