<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Choudhury</title>
</head>

<body>
    {{!-- Navbar --}}
    {{>nav}}
    {{>hero}}


    <section class="skill">
        <div class="container" data-aos="zoom-in">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="left-div">
                        <h1>Skills</h1>
                        <p>I am inspired by creating great work with people who are as passionate as I am about building
                            something awesome. </p>
                        <h1>
                            Web Development
                        </h1>
                        <p>
                            HTML, CSS, SCSS, Javascript, PHP, Node.js, MongoDB, MySQL, Express.Js, Jquery, Github,
                            Bootstrap.
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="right-div">
                        <p>HTML</p>
                        <div class="skill-bar">
                            <div class="skills html" data-text="90%"></div>
                        </div>

                        <p>PHP</p>
                        <div class="skill-bar">
                            <div class="skills php" data-text="80%"></div>
                        </div>

                        <p>CSS</p>
                        <div class="skill-bar">
                            <div class="skills css" data-text="70%"></div>
                        </div>

                        <p>JavaScript</p>
                        <div class="skill-bar">
                            <div class="skills javascript" data-text="60%"></div>
                        </div>

                        <p>SQL</p>
                        <div class="skill-bar">
                            <div class="skills sql" data-text="55%"></div>
                        </div>

                        <p>Node.Js</p>
                        <div class="skill-bar">
                            <div class="skills node" data-text="35%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="resume">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 m-auto">
                    <div class="resume-box" data-aos="zoom-in">
                        <h1>I am Nikumani Choudhury</h1>
                        <p>I am a Web Developer located in Sorbhog, Barpeta, Assam. I am looking to take on more work
                            and
                            to increase my skills as a Web Developer.</p>
                        <a class="glass-btn" href=""><span></span>
                            <span></span>
                            <span></span>
                            <span></span>Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="my-work">
        <div class="container" data-aos="zoom-in">

            <h1 class="heading">
                My Works
            </h1>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-d">
                        <a href="/register">
                            <div class="work-img">
                                <img src="/images/work-gallery/register.png"
                                    alt="Complete Registration With Node.Js MongoDb">
                                <div class="details">
                                    <h2>Registration</h2>
                                    <p>Complete Registration Form using HTML, CSS, Node JS, Express, and MongoDB </p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-d">
                        <a href="/signin">
                            <div class="work-img">
                                <img src="/images/work-gallery/register.png"
                                    alt="Complete Registration With Node.Js MongoDb">
                                <div class="details">
                                    <h2>Sign In</h2>
                                    <p>Complete Log In Form using HTML, CSS, Node JS, Express, and MongoDB </p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-d">
                        <a href="">
                            <div class="work-img">
                                <img src="/images/work-gallery/bg4.jpg" alt="Work img">
                                <div class="details">
                                    <h2>Glass Effect</h2>
                                    <p>Helllo hjsdvjjk hjhbcadhc jhjgsdvch jjgyjj jhsdjh</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-d">
                        <a href="">
                            <div class="work-img">
                                <img src="/images/work-gallery/Screenshot (180).png" alt="Work img">
                                <div class="details">
                                    <h2>Glass Effect</h2>
                                    <p>Helllo hjsdvjjk hjhbcadhc jhjgsdvch jjgyjj jhsdjh</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-d">
                        <a href="">
                            <div class="work-img">
                                <img src="/images/work-gallery/bg4.jpg" alt="Work img">
                                <div class="details">
                                    <h2>Glass Effect</h2>
                                    <p>Helllo hjsdvjjk hjhbcadhc jhjgsdvch jjgyjj jhsdjh</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-d">
                        <a href="">
                            <div class="work-img">
                                <img src="/images/work-gallery/bg4.jpg" alt="Work img">
                                <div class="details">
                                    <h2>Glass Effect</h2>
                                    <p>Helllo hjsdvjjk hjhbcadhc jhjgsdvch jjgyjj jhsdjh</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-d">
                        <a href="">
                            <div class="work-img">
                                <img src="/images/work-gallery/bg4.jpg" alt="Work img">
                                <div class="details">
                                    <h2>Glass Effect</h2>
                                    <p>Helllo hjsdvjjk hjhbcadhc jhjgsdvch jjgyjj jhsdjh</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-d">
                        <a href="">
                            <div class="work-img">
                                <img src="/images/work-gallery/Screenshot (180).png" alt="Work img">
                                <div class="details">
                                    <h2>Glass Effect</h2>
                                    <p>Helllo hjsdvjjk hjhbcadhc jhjgsdvch jjgyjj jhsdjh</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="default-btn">
                <div class="glass-btn">
                    <a href=""><span></span>
                        <span></span>
                        <span></span>
                        <span></span>See More</a>
                </div>
            </div>

        </div>
    </section>

    <section class="news-letter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <h3>Subscribe To My NewsLetter For News!</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <form action="/news_letter" id="formNewsLetter" class="row" method="POST">
                        <div class="col-md-8 col-12">
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="Your Email Address">
                            {{#if response.title}}
                            <div class="alert alert-{{response.code}} alert-dismissible fade show" role="alert">
                                {{response.msg}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {{/if}}
                        </div>
                        <div class="col-md-4 col-12">
                            <button type="submit" class="btn btn-newsLetter"><i class="fas fa-paper-plane"></i>
                                Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    {{>footer}}

    {{!-- External Js Scripts --}}
    {{>scripts}}

    {{!-- Imp JS --}}
    {{>js}}

    {{!-- AOS --}}
    <script src="vendor/AOS/aos.js"></script>
    <script>
        AOS.init({
            offset: 160,
            duration: 700
        });
    </script>





</body>

</html>