<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="scss/style.css" />
    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="vendor/bootstrap-4.5/css/bootstrap.min.css">
</head>

<body>
    <h1>Hello Form Hbs Side</h1>
    <div class="bg-dark">
        <h2>Hello</h2>
    </div>

    {{!-- Bootstrap JS --}}
    <script src="vendor/Jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="vendor/bootstrap-4.5/js/bootstrap.bundle.js"></script>
    <script src="vendor/bootstrap-4.5/js/bootstrap.bundle.min.js"></script>
</body>

</html>