<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{!-- Navbar --}}
    <header class="main-header">
        {{>navbar}}
        <div class="container">
            <div class="heroContent text-center text-white">
                <p class="header-text">Welcome To <span>Choudhury</span></p>
                <h2>About Me</h2>
                <p class="typing-text">I Am A Full Stack <span id="typewriter" data-text="Developer">Developer</span>
                </p>
                <div class="social-icon">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/nik.xim/" target="_blank" title="Facebook"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/_______crazy__soul_______/" target="_blank"
                                title="Instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://" target="_blank" title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/NikChoudhury" target="_bank" title="Github">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:nikunchoudhury@gmail.com" target="_blank" title="Mail">
                                <i class="far fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </header>
    <section class="skill">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="left-div">
                        <h1>Skills</h1>
                        <p>I am inspired by creating great work with people who are as passionate as I am about building
                            something awesome. </p>
                        <h1>
                            Web Development
                        </h1>
                        <p>
                            HTML, CSS, SCSS, Javascript, PHP, Node.js, MongoDB, MySQL, Express.Js, Jquery, Github,
                            Bootstrap.
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="right-div">
                        <p>HTML</p>
                        <div class="skill-bar">
                            <div class="skills html" data-text="90%"></div>
                        </div>

                        <p>PHP</p>
                        <div class="skill-bar">
                            <div class="skills php" data-text="80%"></div>
                        </div>

                        <p>CSS</p>
                        <div class="skill-bar">
                            <div class="skills css" data-text="70%"></div>
                        </div>

                        <p>JavaScript</p>
                        <div class="skill-bar">
                            <div class="skills javascript" data-text="60%"></div>
                        </div>

                        <p>SQL</p>
                        <div class="skill-bar">
                            <div class="skills sql" data-text="55%"></div>
                        </div>

                        <p>Node.Js</p>
                        <div class="skill-bar">
                            <div class="skills node" data-text="35%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="resume">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 m-auto">
                    <div class="resume-box">
                        <h1>I am Nikumani Choudhury</h1>
                        <p>I am a Web Developer located in Sorbhog, Barpeta, Assam. I am looking to take on more work
                            and
                            to increase my skills as a Web Developer.</p>
                        <a href=""><span></span>
                            <span></span>
                            <span></span>
                            <span></span>Hover Me</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="my-work">
        <div class="container">

            <h1 class="heading">
                My Works
            </h1>


        </div>
    </section>

    <section class="demo">
        <div class="container">
            <div class="demobox">
                <a href=""><span></span>
                    <span></span>
                    <span></span>
                    <span></span>Hover Me</a>
            </div>
        </div>
    </section>


    {{>footer}}
    {{!-- Bootstrap JS --}}
    <script src="vendor/Jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="vendor/bootstrap-4.5/js/bootstrap.bundle.js"></script>
    <script src="vendor/bootstrap-4.5/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    {{!-- Hamburger Menu Script --}}
    <script>
        const menuBtn = document.querySelector(".burgerBtn");
        let menuOpen = false;
        menuBtn.addEventListener("click", () => {
            if (!menuOpen) {
                menuBtn.classList.add("open");
                menuOpen = true;
            } else {
                menuBtn.classList.remove("open");
                menuOpen = false;
            }
        });
    </script>

</body>

</html>