<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Choudhury</title>
</head>

<body>
    {{!-- Navbar --}}
    <style>
        header.nav-header nav {
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, .9);
        }
    </style>
    {{>nav}}
    <section class="wapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="main-content">
                        <h1>This is Secret Page</h1>
                        <p>Welcome To Secret Page</p>
                        {{#if userdata}}
                        <div>Hello {{userdata.firstname}}</div>
                        {{/if}}

                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                    <div class="side-content">
                        <div class="side-content-1">
                            <h1>Side is under Construction</h1>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Node.Js</li>
                                <li>SCSS</li>
                                <li>JS</li>
                                <li>PHP</li>
                                <li>MongooDB</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news-letter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <h3>Subscribe To My NewsLetter For News!</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <form action="#" id="formNewsLetter" class="row">
                        <div class="col-md-8 col-12">
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="Your Email Address">
                        </div>
                        <div class="col-md-4 col-12">
                            <button class="btn btn-newsLetter"><i class="fas fa-paper-plane"></i>
                                Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}

    {{!-- External Js Scripts --}}
    {{>scripts}}

    {{!-- Imp JS --}}
    {{>js}}

    {{!-- AOS --}}
    <script src="vendor/AOS/aos.js"></script>
    <script>
        AOS.init({
            offset: 160,
            duration: 700
        });
    </script>