<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Choudhury</title>
</head>

<body>
    {{!-- Navbar --}}
    <style>
        header.nav-header nav {
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, .9);
        }
    </style>
    {{>nav}}
    <section class="comming-soon">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="main-content">
                        <div class="image-div">
                            <figure>
                                <img src="/images/comming-soon.jpg" alt="">
                                <figcaption>
                                    <h1>Site under construction</h1>
                                </figcaption>
                            </figure>
                        </div>
                        <p><a href='https://www.freepik.com/vectors/background'>Image vector From
                                www.freepik.com</a></p>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                    <div class="side-content">
                        <div class="side-content-1">
                            <h1>Side is under Construction</h1>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Node.Js</li>
                                <li>SCSS</li>
                                <li>JS</li>
                                <li>PHP</li>
                                <li>MongooDB</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

    {{!-- External Js Scripts --}}
    {{>scripts}}

    {{!-- Imp JS --}}
    {{>js}}

    {{!-- AOS --}}
    <script src="vendor/AOS/aos.js"></script>
    <script>
        AOS.init({
            offset: 160,
            duration: 700
        });
    </script>